<!--@subject Tiene una invitacion de {{var sender.name}}@-->
<p>Hola,</p>

<p>Tu amigo te ha hecho una invitacion para visitar {{var store_name}}. Ve los detalles a continuacion.</p>

<p>De: <i>{{var sender.name}}</i><br>
Mensaje:<br>
{{var message}}
</p>

<p>Da click <a href="{{var invitation_link}}">aqui</a> para aceptar la invitacion o ingresa el codigo de referencia: <b>{{var referral_code}}</b> al crear una cuenta o al momento de pagar para recibir un descuento.</p>
<p>Este mensaje fue enviado por el Departament de Servicio al cliente, {{var store_name}}.</p>