<!--@subject {{var store_name}} - Solicitud de Retiro@-->

<p>Hola {{var customer_name}},</p>

<p>Su solicitud de retiro {{var amount}} de su cuenta de Afiliados.</p>

<p>Por favor, de click <a href="{{var customer_withdrawal_link}}">aqui</a> para visualizar el historia de retiro.<br>
Si tiene algun problema, contactenos en <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> o llamenos a {{config path='general/store_information/phone'}}.</p>                                            

<p>Este mensaje ha sido enviado por el Departamento de Servicio al cliente, {{var store_name}}.</p>