<!--@subject {{var store_name}} - El Retiro se ha completado @-->

<p>Hola {{var customer_name}},</p>

<p>Su cantidad {{var amount}} de retiro se ha completado.</p>

<p>Por favor, da clic <a href="{{var customer_withdrawal_link}}">aqui</a> para visualizar su historial de retiros.<br>
Si tiene alguna pregunta o problema, contactenos en  <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> o llamenos a {{config path='general/store_information/phone'}}.</p>                                            

<p>Este mensaje ha sido enviado por el Departamento de Servicio al cliente, {{var store_name}}.</p>